{% extends "base.html" %}
{% block title %}Changed{% endblock %}
{% block content %}
<!-- Div to put the homepage into one class-->
<div class = "Homepage"> 
<p class= "h1" align = "center" >DCM INTERFACE</p>   
<p class= "h4" align = "right" >Pacemaker: Not Connected</p>  
<p class ="h4" align = "right" >PACEMAKER ID:</p> 
<p class = "h4" class align = "center" label for="standard-select">PACING MODE</label></p>
<form name = "Pacing" form align = "center" form method="POST" action="{{ url_for('pages.home') }}"> 
<!-- Div containing the pacing mode selection-->
  <div class="select">
  <select name = "pacingModes" id="pacingModes" method = "POST">
    <option value="AOO" class = "AOO">AOO</option>
    <option value="VOO" class = "VOO">VOO</option>
    <option value="AAI" class = "AAI">AAI</option>
    <option value="VVI" class = "VVI">VVI</option>
  </select>
</div>
<div id = "Master">
<ul class = "forms">

<div id = "LRL">
  <li><input type = "number" input name="LRL" input type="integer" min = "0" placeholder="Lower Rate Limit"></li>
</div> 

<div id = "URL">
  <li><input type = "number" input name="URL" input type="integer" min = "0" placeholder="Upper Rate Limit"></li>
</div> 
<div id = "VENT_AMP">
  <li><input type = "number" input name="VENT_AMP" input type="integer"min = "0" placeholder="Ventricular Amplitude"></li>
</div> 
<div id = "ATR_AMP">
  <li><input type = "number" input name="ATR_AMP" input type="integer"min = "0" placeholder="Atrial Amplitude"></li>
</div> 
<div id = "VENT_PW">
  <li><input type = "number" input name="VENT_PW" input type="integer" min = "0"placeholder="Ventricular Pulse Width"></li>
</div> 
<div id = "ATR_PW">
  <li><input type = "number" input name="ATR_PW" input type="integer"min = "0" placeholder="Atrial Pulse Width"></li>
</div> 
<div id = "VRP">
  <li><input type = "number" input name="VRP" input type="integer"min = "0"  placeholder="VRP"></li>
</div> 
<div id = "ARP">
  <li><input type = "number" input name="VRP" input type="integer" min = "0"placeholder="ARP"></li>
</div> 
<div id = "PVARP">
  <li><input type = "number" input name="PVARP" input type="integer"min = "0" placeholder="PVARP"></li>
</div> 
<div id = "Hysteresis">
  <li><input type= "number" input name="Hysteresis" input type="integer" min = "0" placeholder="Hysteresis"></li>
</div>
<div id = "Rate_Smoothing">
  <li><input type = "number" input name="Rate Smoothing" input type="integer" min = "0" placeholder="Rate Smoothing"></li>
</div>
</ul> </div>
<button type = "submit" class = "btn btn-primary align-center ">Submit</button>
</form>
</div>

{% endblock %}
        
