<!DOCTYPE html> 
<!--
Contains all of the main website functionality in the HTML markup
Extends to all classes that are a page on the page: Login, Register, Home, etc
Provide functionality to all of the pages
-->
<html>
    <head>
        <meta charset = "utf-8" />
        <meta name = "viewport" content = "width = device-width", initial-scale = 1" >
        <!--importing bootstrap -->
        <link 
        rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
        crossorigin="anonymous"
      />
       <!-- Bootstraps Java Scipts Links -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
      <!--importing bootstrap -->
      <link
        rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        crossorigin="anonymous"
      />
      <!-- JQuery links  -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>


      <!--High CHART LIVE  -->
      <script src="http://code.highcharts.com/highcharts.js"></script>
      <script src="http://code.highcharts.com/highcharts-more.js"></script>
      <script src="http://code.highcharts.com/modules/exporting.js"></script>


          
      <style>
        body {
          background-color: white;
          color: black;
        }
      </style>
       <script src="plotly.min.js"></script>
        <!--using jinja for python code-->
      <title>{% block title %}Home{% endblock %}</title>
    </head>
    <body>
        <nav class= "navbar navbar-expand-lg navbar-dark bg-dark">
            <button class = "navbar-toggler" type = "button" data-toggle="collapse" data-target = "#navbar">
                <span class = "navbar-toggler-icon"></span>
            </button>
            <div class= "collapse navbar-collapse" id = "navbar"> 
                <div class = "navbar-nav">
                  {% if user.is_authenticated %}
                    <a class = "nav-item nav-link" id = "login" href = "/">Home</a>
                    <a class = "nav-item nav-link" id = "login" href = "/logout">Logout</a>
                    {% else %}
                    <a class = "nav-item nav-link" id = "login" href = "/login">Login</a>
                    <a class = "nav-item nav-link" id = "login" href = "/register">Register</a>
                    {% endif %}
                </div>
            </div>
        </nav>
        <!--
        Contains functionality for flashing message
        Checks to see if there are messages 
        If the category is an error flashes the alert from bootstrap style
        Otherwise Shows a success alert
        -->
        {% with messages = get_flashed_messages(with_categories = true) %}
        {% if messages %}
          {% for category, message in messages %}
          {% if category == 'error' %}
          <div class = "alert alert-danger alter-dismissable fade show" role = "alert">
            {{ message }}
            <button type = "button" class = "close" data-dismiss = "alert"> 
              <span aria-hidden ="true">&times;</span>
            </button>
          </div>
        {% else %}

        <div class = "alert alert-success alter-dismissable fade show" role = "alert">
          {{ message }}
          <button type = "button" class = "close" data-dismiss = "alert"> 
            <span aria-hidden = "true">&times;</span>
          </button>
        </div>
        {% endif %}
        {% endfor %}
        {% endif %}
        {% endwith %}
        <div class="container">
        {% block content %}
        
        {% endblock %}
        </div>
        <!--
          Imports Jquery, Bootstrap and popper
        -->

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    
    <!--Only runs script if page is on home-->
    {% if home == 'TRUE' %}
    <!-- Styles the forms on home page-->
    <style>
    ul.forms{
      /* Removes the padding on left and list style for the unordered list */
      list-style-type:none; 
      margin: 0;
      padding: 0;
      padding-top: 20px;
      padding-bottom: 20px;
      font-family: helvetica;
    }
    /* Hides the pacing modes displayed initially */
    .pacingMode{
      display:none;
    }
    /* Jquery Script to only reveal the forms once the dropdown is clicked */
    </style>
    <script> 
    let pacingModes = document.getElementById('pacingModes');
    let LRLval = document.getElementById('LRL');
    let URLval = document.getElementById('URL');
    let ATR_AMP_val = document.getElementById('ATR_AMP');
    let ATR_PW_val = document.getElementById('ATR_PW');
    let VENT_AMP_val = document.getElementById('VENT_AMP');
    let VENT_PW_val = document.getElementById('VENT_PW');
    let VRPval = document.getElementById('VRP');
    let ARPval = document.getElementById('ARP');
    let Hysteresisval = document.getElementById('Hysteresis');
    let Rate_Smoothing_val = document.getElementById('Rate_Smoothing');
    let ATR_SENS_val = document.getElementById('ATR_SENS')
    let VENT_SENS_val = document.getElementById('VENT_SENS')
    </script>
    
    <script>
     $(function() {
      $('#Master').show(); 
            $('#LRL').show();
            $('#URl').show();
            $('#MSR').hide();
            $('#ATR_AMP').show();  
            $('#ATR_PW').show(); 
            $('#VENT_AMP').hide();
            $('#VENT_PW').hide();
            $('#VRP').hide();
            $('#ARP').hide();
            $('#ATR_SENS').hide();
            $('#VENT_SENS').hide();
            $('#REACTION_TIME').hide();
            $('#RESPONSE_FACTOR').hide();
            $('#RECOVERY_TIME').hide();
            $('#ACTIVITY_THRESHOLD').hide();
    $('#pacingModes').change(function(){
        if($('#pacingModes').val() == 'AOO') {
            $('#Master').show(); 
            $('#LRL').show();
            $('#URl').show();
            $('#MSR').hide();
            $('#ATR_AMP').show();  
            $('#ATR_PW').show(); 
            $('#VENT_AMP').hide();
            $('#VENT_PW').hide();
            $('#VRP').hide();
            $('#ARP').hide();
            $('#ATR_SENS').hide();
            $('#VENT_SENS').hide();
            $('#ACTIVITY_THRESHOLD').hide();
            $('#REACTION_TIME').hide();
            $('#RESPONSE_FACTOR').hide();
            $('#RECOVERY_TIME').hide();

        }
 
        else if($('#pacingModes').val() == 'VOO') {
          $('#Master').show(); 
            $('#LRL').show();
            $('#URl').show();
            $('#MSR').hide();
            $('#ATR_AMP').hide();  
            $('#ATR_PW').hide(); 
            $('#VENT_AMP').show();
            $('#VENT_PW').show();
            $('#ARP').hide();
            $('#VRP').hide();
            $('#ATR_SENS').hide();
            $('#VENT_SENS').hide();
            $('#ACTIVITY_THRESHOLD').hide();
            $('#REACTION_TIME').hide();
            $('#RESPONSE_FACTOR').hide();
            $('#RECOVERY_TIME').hide();

        }
        else if($('#pacingModes').val() == 'AAI') {
          $('#Master').show(); 
            $('#LRL').show();
            $('#URl').show();
            $('#MSR').hide();
            $('#ATR_AMP').show();  
            $('#ATR_PW').show(); 
            $('#VENT_AMP').hide();
            $('#VENT_PW').hide();
            $('#ARP').show();
            $('#VRP').hide();
            $('#ATR_SENS').show();
            $('#VENT_SENS').hide();
            $('#ACTIVITY_THRESHOLD').hide();
            $('#REACTION_TIME').hide();
            $('#RESPONSE_FACTOR').hide();
            $('#RECOVERY_TIME').hide();

           
        }
        else if($('#pacingModes').val() == 'VVI') {
          $('#Master').show(); 
            $('#LRL').show();
            $('#URl').show();
            $('#MSR').hide();
            $('#ATR_AMP').hide();  
            $('#ATR_PW').hide(); 
            $('#VENT_AMP').show();
            $('#VENT_PW').show();
            $('#VRP').show();
            $('#ARP').hide();
            $('#ATR_SENS').hide();
            $('#VENT_SENS').show();
            $('#ACTIVITY_THRESHOLD').hide();
            $('#REACTION_TIME').hide();
            $('#RESPONSE_FACTOR').hide();
            $('#RECOVERY_TIME').hide();

        }
        else if($('#pacingModes').val() == 'AOOR') {
          $('#Master').show(); 
            $('#LRL').show();
            $('#URl').show();
            $('#MSR').show();
            $('#ATR_AMP').hide();  
            $('#ATR_PW').hide(); 
            $('#VENT_AMP').show();
            $('#VENT_PW').show();
            $('#VRP').hide();
            $('#ARP').hide();
            $('#ATR_SENS').show();
            $('#VENT_SENS').hide();
            $('#REACTION_TIME').show();
            $('#RESPONSE_FACTOR').show();
            $('#RECOVERY_TIME').show();
            $('#ACTIVITY_THRESHOLD').show();
            
        }
        else if($('#pacingModes').val() == 'VOOR') {
          $('#Master').show(); 
            $('#LRL').show();
            $('#URl').show();
            $('#MSR').show();
            $('#ATR_AMP').hide();  
            $('#ATR_PW').hide(); 
            $('#VENT_AMP').show();
            $('#VENT_PW').show();
            $('#VRP').hide();
            $('#ARP').hide();
            $('#ATR_SENS').hide();
            $('#VENT_SENS').hide();
            $('#REACTION_TIME').show();
            $('#RESPONSE_FACTOR').show();
            $('#RECOVERY_TIME').show();
            $('#ACTIVITY_THRESHOLD').show();
        }
        else if($('#pacingModes').val() == 'AAIR') {
          $('#Master').show(); 
            $('#LRL').show();
            $('#URl').show();
            $('#MSR').show();
            $('#ATR_AMP').hide();  
            $('#ATR_PW').hide(); 
            $('#VENT_AMP').show();
            $('#VENT_PW').show();
            $('#VRP').hide();
            $('#ARP').show();
            $('#ATR_SENS').show();
            $('#VENT_SENS').hide();
            $('#REACTION_TIME').show();
            $('#RESPONSE_FACTOR').show();
            $('#RECOVERY_TIME').show();
            $('#ACTIVITY_THRESHOLD').show();
        }
        else if($('#pacingModes').val() == 'VVIR') {
          $('#Master').show(); 
            $('#LRL').show();
            $('#URl').show();
            $('#MSR').show();
            $('#ATR_AMP').hide();  
            $('#ATR_PW').hide(); 
            $('#VENT_AMP').show();
            $('#VENT_PW').show();
            $('#VRP').show();
            $('#ARP').hide();
            $('#ATR_SENS').hide();
            $('#VENT_SENS').show();
            $('#REACTION_TIME').show();
            $('#RESPONSE_FACTOR').show();
            $('#RECOVERY_TIME').show();
            $('#ACTIVITY_THRESHOLD').show();
        }
        else{
          
        } 
    });
});


    </script> 
      
      <script> 
        function checkValue(sender) {
            let min = sender.min;
            let max = sender.max;
            // here we perform the parsing instead of calling another function
            let value = parseInt(sender.value);
            if (value>max) {
                sender.value = max;
            } else if (value<min) {
                sender.value = min;
            }
        }
      </script>
      <script>
        function getVals(){
  // Get slider values
  var parent = this.parentNode;
  var slides = parent.getElementsByTagName("input");
    var slide1 = parseFloat( slides[0].value );
    var slide2 = parseFloat( slides[1].value );
  // Neither slider will clip the other, so make sure we determine which is larger
  if( slide1 > slide2 ){ var tmp = slide2; slide2 = slide1; slide1 = tmp; }
  
  var displayElement = parent.getElementsByClassName("rangeValues")[0];
      displayElement.innerHTML = slide1 + " - " + slide2;
}

window.onload = function(){
  // Initialize Sliders
  var sliderSections = document.getElementsByClassName("range-slider");
      for( var x = 0; x < sliderSections.length; x++ ){
        var sliders = sliderSections[x].getElementsByTagName("input");
        for( var y = 0; y < sliders.length; y++ ){
          if( sliders[y].type ==="range" ){
            sliders[y].oninput = getVals;
            // Manually trigger event first time to display values
            sliders[y].oninput();
          }
        }
      }
}
      </script> 
      
    </script>

    {%endif%}


    </body>

</html>