
{% extends "base.html" %}
{% block title %}Changed{% endblock %}

{% block content %}
<p class= "h1" align = "center" >DCM INTERFACE</p>   

<div class="dropdown">
  <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false" >
    Pacing Mode <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <li><a href="#" value = AOO>AOO</a></li>  
    <li><a href="#" value = VOO>VOO</a></li>
    <li><a href="#" value = AAI>AAI</a></li>
    <li><a href="#" value = VVI>VVI</a></li>
  </ul>
</div 
<div>


<p class = "h4" label for="standard-select">PACING MODE</label></p>
<div class="select">
  <select id="standard-select">
    <option value="AOO">AOO</option>
    <option value="VOO">VOO</option>
    <option value="AAI">AAI</option>
    <option value="VVI">VVI</option>
  </select>
  <span class="focus"></span>
</div>
</div>





{% endblock %}
        
