
{% extends "base.html" %}
{% block title %}Changed{% endblock %}
{% block content %}
<link rel = "stylesheet" href = "templates/styles.css">
<div class = "Homepage"> 
<p class= "h1" align = "center" >DCM INTERFACE</p>   
<p class= "h4" align = "right" >Pacemaker: Not Connected</p>  
<p class ="h4" align = "right" >PACEMAKER ID:</p> 
<p class = "h4" class align = "center" label for="standard-select">PACING MODE</label></p>
<form name = "Pacing" form align = "center" form method="POST" action="{{ url_for('pages.home') }}"> 
<div class="select">
  <select name = "pacingModes" id="pacingModes" method = "POST">
    <option value="AOO" class = "AOO">AOO</option>
    <option value="VOO" class = "VOO">VOO</option>
    <option value="AAI" class = "AAI">AAI</option>
    <option value="VVI" class = "VVI">VVI</option>
  </select>
</div>

<div id = "AOO" class = "pacingMode">
  <ul class = "forms"> 
  <li><input type="integer" placeholder="ATRIUM AMPLITUDE"></li>
  <li><input type="integer" placeholder="VENTRICULAR AMPLITUDE"></li>
  <li><input type="integer" placeholder="ATRIUM PULSE WIDTH"></li>
  <li><input type="integer" placeholder="VENTRICULAR PULSE WIDTH"></li>
  </ul> 
</div>

<div id = "VOO" class = "pacingMode">
  <ul class = "forms">
    <li><input name="ATR_AMP" input type="integer" placeholder="ATRIUM AMPLITUDE"></li>
    <li><input name="VENT_AMP" input type="integer" placeholder="VENTRICULAR AMPLITUDE"></li>
    <li><input name="ATR_PW" input type="integer" placeholder="ATRIUM PULSE WIDTH"></li>
    <li><input name="VENT_PW" input type="integer" placeholder="VENTRICULAR PULSE WIDTH"></li>
  </ul> 
</div>

<div id = "AAI" class = "pacingMode">
  <ul class = "forms">
    <li><input name="ATR_AMP" input type="integer" placeholder="ATRIUM AMPLITUDE"></li>
    <li><input name="VENT_AMP" input type="integer" placeholder="VENTRICULAR AMPLITUDE"></li>
    <li><input name="ATR_PW" input type="integer" placeholder="ATRIUM PULSE WIDTH"></li>
    <li><input name="VENT_PW" input type="integer" placeholder="VENTRICULAR PULSE WIDTH"></li>
    <li><input name="LRL" input type="integer" placeholder="LOWER RATE LIMIT"></li>
    <li><input name="URL" input type="integer" placeholder="UPPER RATE LIMIT"></li>
    <li><input name="VRP" input type="integer" placeholder="VRP"></li>
    <li><input name="ARP" input type="integer" placeholder="ARP"></li>
  </ul>
</div>

<div id = "VVI" class = "pacingMode">
  <ul class = "forms">
  <li><input name = "ATR_AMP" input type="integer" placeholder="ATRIUM AMPLITUDE"></li>
  <li><input name = "VENT_AMP" input type="integer" placeholder="VENTRICULAR AMPLITUDE"></li>
  <li><input name = "ATR_PW" input type="integer" placeholder="ATRIUM PULSE WIDTH"></li>
  <li><input name = "VENT_PW" input type="integer" placeholder="VENTRICULAR PULSE WIDTH"></li>
  <li><input name = "LRL" input type="integer" placeholder="LOWER RATE LIMIT"></li>
  <li><input name = "URL" input type="integer" placeholder="UPPER RATE LIMIT"></li>
  <li><input name = "VRP" input type="integer" placeholder="VRP"></li>
  <li><input name = "ARP" input type="integer" placeholder="ARP"></li>
  </ul>
</div>
<br />

<button type = "submit" class = "btn btn-primary align-center ">Submit</button>
</form>
</div>




{% endblock %}
        
